@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
}

#navbarRow{
    height: 60px;
    display: flex;
    align-items: center;
}
#logIn{
    background-color: none;
    border: 1px solid #D70F64;
    color: #D70F64;
    margin-right: 20px;
    transition: transform 0.4;
}
#logIn:hover{
    transform: scale(1.1);
    background-color: #eee7eb;
}
.signUp{
    background-color: #D70F64;
    color: #fff;
    margin-right: 20px;
    transition: transform 0.4;
}
.signUp:hover{
    background-color: #D70F64 !important;
    color: #fff !important;
    transform: scale(1.1);
}

#inputAndDrop{
    display: flex;
    align-items: center;
}
#dropDown{
    margin-right: 20px;
}
#shoppingIcon{
    color: #D70F64;

}
#imgPanda{
    width: 614px;
}
#locationBar{
    position: relative;
    left: 50px;
    bottom: 20px;
}
.container-fluid{
    background-color: #F5F7F7;
}
#pandaAndInput{
    display: flex;
    align-items: center;
}
.inputList{
    border-radius: 15px;
    width: 640px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    background-color: #fff;
}
.inputForm{
    width: 350px;
    height: 45px;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 20px;
}
#button-addon3{
    height: 45px;
    width: 100px;
    margin-left: 10px;
    background-color: #D70F64;
    color: #fff;

}
#locationBtn{
    width: 140px;
    border: none;
    background-color: #fff;
    color: #D70F64;
}
#locationAndInputBar{
    border: 1px solid grey;
    border-radius: 10px;
    width: 500px;
}
 /* main work css start from here */
#manImg{
    background-image: url('./Assets/home-vendor.webp');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}
#popUp{
    height: 370px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 200px;
    left: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#popUp h5{
    font-family: sans-serif;
    font-size: 26px;
}
/* image1 css start from here */

#imgContain{
    margin-top: 14%;
}
#image1{
    width: 100%;
}
#citiesNameParent div{
    cursor: pointer;
}
#placeImg-1{
    background-image: url('./Assets/placeImg/Islamabad.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-2{
    background-image: url('./Assets/placeImg/Karachi.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-3{
    background-image: url('./Assets/placeImg/Lahore.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-4{
    background-image: url('./Assets/placeImg/Faisalabad.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-5{
    background-image: url('./Assets/placeImg/Rawalpindi.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-6{
    background-image: url('./Assets/placeImg/Abottabad.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-7{
    background-image: url('./Assets/placeImg/Bahawalpur.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-8{
    background-image: url('./Assets/placeImg/DeraGhaziKhan.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-9{
    background-image: url('./Assets/placeImg/Gujranwala.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-10{
    background-image: url('./Assets/placeImg/Gujrat.jpg');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-11{
    background-image: url('./Assets/placeImg/Hyderabad.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-12{
    background-image: url('./Assets/placeImg/Jhelum.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-13{
    background-image: url('./Assets/placeImg/Kamoke.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-14{
    background-image: url('./Assets/placeImg/Larkana.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-15{
    background-image: url('./Assets/placeImg/Mangla.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-16{
    background-image: url('./Assets/placeImg/Mardan.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-17{
    background-image: url('./Assets/placeImg/Multan.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-18{
    background-image: url('./Assets/placeImg/Murree.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-19{
    background-image: url('./Assets/placeImg/Okara.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-20{
    background-image: url('./Assets/placeImg/PanoAqil.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-21{
    background-image: url('./Assets/placeImg/Peshawar.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-22{
    background-image: url('./Assets/placeImg/Quetta.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-23{
    background-image: url('./Assets/placeImg/RahimYarKhan.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-24{
    background-image: url('./Assets/placeImg/Sadiqabad.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-25{
    background-image: url('./Assets/placeImg/Sahiwal.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-26{
    background-image: url('./Assets/placeImg/Sargodha.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-27{
    background-image: url('./Assets/placeImg/Sheikhupura.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-28{
    background-image: url('./Assets/placeImg/Sialkot.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-29{
    background-image: url('./Assets/placeImg/Sukkur.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-30{
    background-image: url('./Assets/placeImg/WahhCannt.webp');
    background-size: cover;
    height: 240px;
    border-radius: 15px;
    width: 285px;
    transition: transform 0.5s;
}
#placeImg-1:hover{
    transform: scale(1.1);
}
#placeImg-2:hover{
    transform: scale(1.1);
}
#placeImg-3:hover{
    transform: scale(1.1);
}
#placeImg-4:hover{
    transform: scale(1.1);
}
#placeImg-5:hover{
    transform: scale(1.1);
}
#placeImg-6:hover{
    transform: scale(1.1);
}
#placeImg-7:hover{
    transform: scale(1.1);
}
#placeImg-8:hover{
    transform: scale(1.1);
}
#placeImg-9:hover{
    transform: scale(1.1);
}
#placeImg-10:hover{
    transform: scale(1.1);
}
#placeImg-11:hover{
    transform: scale(1.1);
}
#placeImg-12:hover{
    transform: scale(1.1);
}
#placeImg-13:hover{
    transform: scale(1.1);
}
#placeImg-14:hover{
    transform: scale(1.1);
}
#placeImg-15:hover{
    transform: scale(1.1);
}
#placeImg-16:hover{
    transform: scale(1.1);
}
#placeImg-17:hover{
    transform: scale(1.1);
}
#placeImg-18:hover{
    transform: scale(1.1);
}
#placeImg-19:hover{
    transform: scale(1.1);
}
#placeImg-20:hover{
    transform: scale(1.1);
}
#placeImg-21:hover{
    transform: scale(1.1);
}
#placeImg-22:hover{
    transform: scale(1.1);
}
#placeImg-23:hover{
    transform: scale(1.1);
}
#placeImg-24:hover{
    transform: scale(1.1);
}
#placeImg-25:hover{
    transform: scale(1.1);
}
#placeImg-26:hover{
    transform: scale(1.1);
}
#placeImg-27:hover{
    transform: scale(1.1);
}
#placeImg-28:hover{
    transform: scale(1.1);
}
#placeImg-29:hover{
    transform: scale(1.1);
}
#placeImg-30:hover{
    transform: scale(1.1);
}
#btn{
    margin-top: 180px;
    width: 120px;
    height: 45px;
    letter-spacing: 2px;
    border-radius: 12px;
    border: none;
}
/* scannerAndlogo start from here */
#rowOfLogo{
    background-color: #D70F64;
    position: relative;
    height: 350px;
    border-radius: 15px;
}
#scannerAndlogo{
    display: flex;
    flex-direction: column;
}
#mobilePhone{
    position: absolute;
    right: 0;
    bottom: 1px;
}
#para1{
    display: none;
}

/* officePic css start from here */
#officePic{
    background-image: url('./Assets/home-corporate.webp');
    height: 452px;
    background-size: cover;
    background-position: center center;
}
#locationWala{
    width: 500px;
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: 7px;
    color: #D70F64;
}
#inputWala{
    width: 40%;
    height: 60px;
    outline: none;
    border: none;
    padding-left: 10px;
}
#btnPinkWala{
    background-color: #D70F64;
    text-align: center;
}
#myContainerOfInput{
    display: none;
}
.form-control{
    height: 40px;
}
#myContainerOfInput{
    position: absolute;
    top: 150px;
    background-color: transparent;
}
.fa-user{
    display: none;
    color: #D70F64;
}
#userBar{
    display: flex;
}
.btn-danger{
    background-color: #D70F64;
}
.btn-danger:hover{
    padding: 10px 15px;
    /* width: 110px;
    height: 40px; */
}
.card{
    width: 32rem;
    margin-top: 340px;
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 /* family picture css star from here */
 #officePic{
    border: 1px solid black;
 }
 /* last paragraphs of website */
 .paragraphContainer{
    margin-top: 180px;
   
 }
 .paragraphContainer h1{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 35px;
 }
 .paragraph1 p {
    font-family: 'Open sans';
 }
 .paragraph2 p{
    line-height: 10px;
    font-family: 'Open sans';
 }
 .paragraph3{
    font-family: 'Open sans';
 }
 .paragraph2 p span{
    color: #D70F64;
 }
 #questionPara{
    border-bottom: 1px solid rgb(211, 206, 206);
    padding-bottom: 20px;
 }
 #paraAboutPandaRow h1{
    margin-bottom: 23px;
 }
 #paraAboutPandaRow2 h3{
    font-family: 'Open sans';
    font-weight: 550;
 }
 #paraAboutPandaRow2 h5{
    opacity: 0.8;
    font-family: 'Open sans';
    font-weight: 550;
    margin-bottom: 15px;
 }
 #paraAboutPandaRow3 h6{
    margin-top: 17px;
    font-family: 'Open sans';
    font-weight: 600;
    opacity: 0.9;
 }
 .paragraph3 p{
    letter-spacing: 0.2px;
 }
 .paragraph3 p span{
    color: #D70F64;
 }
 #faceAndInsta{
    display: flex;
    justify-content: flex-end;
 }
 #logoFaceAndInsta{
    border-top: 1px solid rgb(234, 231, 231);
    border-bottom: 1px solid rgb(223, 217, 217);
    padding: 40px 0;
    margin-top: 100px;
 }
 .fa-facebook{
    font-size: 30px;
    margin-right: 15px;
    opacity: 0.7;
 }
 .fa-facebook:hover{
    color: #D70F64;
 }
 .fa-instagram{
    font-size: 30px;
    opacity: 0.7;
 }
 .fa-instagram:hover{
    color: #D70F64;
 }
 #faceAndInsta i:hover{
    cursor: pointer;
 }
 /* panda logo, facebook and instagram */
 #logoFaceAndInsta{
    display: flex;
    justify-content: space-between;
 }
 /* panda Information css */
 #pandaInformation{
    font-family: 'Open sans';
    border-bottom: 1px solid rgb(217, 212, 212);
    margin-top: 20px;
    padding-bottom: 10px;
 }
 #pandaLinkWeb span:hover{
    color: #D70F64;
    cursor: pointer;
 }
 /* Modal */
 .logInBtn{
    background-color: #D70F64;
    color: #fff;
    transition: transform 0.3s;
 }
 .logInBtn:hover{
    background-color: #D70F64;
    color: #fff;
    transform: scaleY(1.1);
 }
 .signUpBTn{
    border: 1px solid #D70F64;
    color: #D70F64 !important;
 }
 .signUpModal{
    margin-left: 500px;
 }
 .modal-body input{
    outline: none !important;
 }
 /* when click on sign Up */
#dropDownSignUp, #signUpDropdownBtn{
    background-color: #D70F64 !important;
    color: #fff !important;
}
#dropdownlist li{
    padding: 2px 5px;
    cursor: pointer;
}
 #dropdownlist li:hover{
   background-color: #e48db2 !important;
   color: #fff;
}
#email,#password,#email2,#password2{
    box-shadow: none !important;
}
@media (max-width: 964px) {
    #popUp{
        height: 430px;
    }
    #getStart{
        display: flex;
    }
    .dropdown-toggle{
        display: none;
    }
    #logoPandahey{
        width: 240px;
    }
    #shoppingIcon{
        font-size: 35px;
        margin-top: 10px;
    }
    .fa-user{
        display: flex;
        margin-right: 200px;
    }
    #logIn{
        display: none;
    }
    .signUp{
        display: none;
    }
    #myContainerOfInput{
        top: 400px;
    }
    #locationWala{
        margin-left: 12px;
    }
    #myContainerOfInput{
        display: flex;
        justify-content: center;
    }
    #inputWala{
        width: 50%;
    }
    #myContainerOfInput{
        display: flex;
    }
    #locationBar{
        display: none;
    }
    #para1{
        display: block;
    }
    #scannerAndlogo{
        text-align: center;
    }
    #imgContain{
        margin-top: 180px;
    }
    #rowOfLogo{
        height: 550px;
    }
    #mobilePhone{
        left: 200px;
        top: 220px;
    }
    #scannerId{
        display: none;
    }
    .locationBar{
        position: relative;
    }
    #pandaAndDesc{
        overflow: visible;
    }
    #mobilePic{
        width: 500px;
    }
    .inputList{
       width: 800px;
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 250px;
       background-color: aqua;
       height: 200px;
    }
    .inputForm{
        width: 82.5%;
        height: auto;
    }
    #locationAndInputBar{
        width: 100%;
        height: 65px;
    }
    #button-addon3{
       width: 100%;
       height: 65px;
       padding: 10px 0;
       margin-left: 0;
    }
    #cookingMan{
        margin-top: 20%;
    }
}
@media (max-width: 750px){
    #pandaInformation{
        text-align: center;
        font-size: 22px;
    }
    .paragraph2 p{
        line-height: 16px;
    }
    .card{
        margin-left: 15px;
        width: 43rem;
    }
    .fa-user{
        margin-right: 150px;
    }
    #popUp{
        height: 530px;
    }
    #imgContain{
        margin-top: 400px;
    }
    .inputList{
        width: 600px;
    }
    #inputWala{
        width: 60%;
    }
    #mobilePhone{
        left: 200px;
        top: 220px;
    }
    #mobilePic{
        width: 350px;
    }
    .inputForm{
        width: 50.5%;
        height: auto;
    }
    #mobilePhone{
        top: 250px;
        left: 120px;
    }
}
@media (max-width: 735px){
    .card{
        margin-left: 15px;
        width: 40rem;
    }
}
@media (max-width: 685px){
    .card{
        margin-left: 15px;
        width: 39rem;
    }
}
@media (max-width: 660px){
    .card{
        margin-left: 15px;
        width: 37rem;
    }
}
@media (max-width: 630px){
    .card{
        margin-left: 15px;
        width: 35rem;
    }
}
@media (max-width: 600px){
    .card{
        margin-left: 15px;
        width: 33rem;
    }
}
@media (max-width: 580px){
    .card{
        margin-left: 15px;
        width: 31rem;
    }
    .fa-user{
        margin-right: 100px;
    }
    #locationWala{
        width: 100%;
    }
    #myContainerOfInput{
        top: 400px;
    }
    #locationBar{
        display: flex;
    }
    #locationBar{
        display: none;
    }
}
@media (max-width: 550px){
    .card{
        margin-left: 15px;
        width: 30rem;
    }
    #para1 h1{
        font-size: 18px;
    }
    #mobilePic{
        width: 300px;
        text-align: center;
    }
    #myContainerOfInput{
        top: 200px;
    }
    #cookingMan{
        margin-top: 150px;
    }
    #locationBar{
        width: 50%;
    }
    #imgPanda{
       width: 100%;
    }
    .inputList{
        width: 400px;
    }
    .inputForm{
        width: 70.5%;
        height: auto;
    }
    #popUp{
        left: 0;
    }
}
@media (max-width: 525px){
    .card{
        margin-left: 15px;
        width: 28rem;
    }
}
@media (max-width: 490px){
    .card{
        margin-left: 15px;
        width: 26rem;
    }
}
@media (max-width: 460px){
    .card{
        margin-left: 15px;
        width: 24rem;
    }
    #mobilePhone{
        top: 300px;
        left: 60px;
    }
}
@media (max-width: 440px){
    #logoPandahey{
        margin-left: -20px;
    }
    .card{
        margin-left: 15px;
        width: 22rem;
    }
}
@media (max-width: 400px){
    .card{
        margin-left: 15px;
        width: 21rem;
    }
    #logoPandahey{
        margin-left: -45px;
    }
}
@media (max-width: 380px){
    .card{
        margin-left: 15px;
        width: 19rem;
    }
    .fa-user{
        display: flex;
        margin-right: 100px;
    }
    #popUp{
        margin-top: 150px;
    }
    #imgContain{
        margin-top: 210px;
    }
    #logoPandahey{
        width:100px;
    }
    #mobilePic{
        width: 250px;
    }
    #locationWala{
        width: 100%;
    }
    #myContainerOfInput{
        top: 150px;
    }
    #locationBar{
        display: none;
    }
    #mobilePhone{
        left: 30px;
        top: 360px;
    }
    #popUp{
        height: 450px;
    }
    #manImg{
        height: 600px;
    }
}
@media (max-width: 350px){
    .card{
        margin-left: 15px;
        width: 18rem;
    }
}
@media (max-width: 330px){
    .card{
        margin-left: 15px;
        width: 16rem;
    }
}
@media (max-width: 300px){
    .card{
        margin-left: 15px;
        width: 15rem;
    }
}
@media (max-width: 280px){
    .card{
        margin-left: 15px;
        width: 13rem;
    }
}